In [2]:
import pandas as pd
import numpy as np

In [70]:
T_tweets = pd.read_csv('tweets.csv')

T_tweets.head()

T_tweets['date'], T_tweets['time'] = T_tweets['created_at'].str.split(',',1).str
T_tweets['created_at'] = T_tweets['created_at'].str.replace('[','')
T_tweets['created_at'] = T_tweets['created_at'].str.replace(']','')
T_tweets['created_at'] = T_tweets['created_at'].str.replace(']','')
T_tweets['created_at'] = T_tweets['created_at'].str.replace('\'','')


#T_tweets.drop(T_tweets.columns[1], axis=1, inplace=True)
T_tweets.head()

SyntaxError: EOL while scanning string literal (<ipython-input-70-893d533cc440>, line 9)

In [62]:

    
T_tweets.head()

#out = open('dataset_tweets.csv','wb')
#for line in

,id,created_at,text,date,time
0,834412638931083265,<pandas.core.strings.StringMethods object at 0...,And also Karnataka bhavan jn towards Khodays ...,['2017-02-22','14:40:50']
1,834412527366791169,<pandas.core.strings.StringMethods object at 0...,Peak hour traffic at Mekhri circle underpass t...,['2017-02-22','14:40:23']
2,834407314010435586,<pandas.core.strings.StringMethods object at 0...,And also Anand Rao circle towards Keno theate...,['2017-02-22','14:19:40']
3,834407256208728066,<pandas.core.strings.StringMethods object at 0...,Peak hour traffic at Nayandahalli jn towards D...,['2017-02-22','14:19:27']
4,834381488221220864,<pandas.core.strings.StringMethods object at 0...,And also Krishna floor mil jn towards Okalipu...,['2017-02-22','12:37:03']

In [ ]:
#