In [13]:
import pandas as pd
import numpy as np

In [25]:
T_tweets = pd.read_csv('train.csv')

#T_tweets['created_at'] = T_tweets['created_at'].str.replace('[','')
#T_tweets['created_at'] = T_tweets['created_at'].str.replace(']','')
#T_tweets['created_at'] = T_tweets['created_at'].str.replace('\'','')

#T_tweets['date'], T_tweets['time'] = T_tweets['created_at'].str.split(',',1).str

T_tweets.drop(T_tweets.columns[[0,1,3]], axis=1, inplace=True)
T_tweets = T_tweets['text'].str.lower()
T_tweets = T_tweets.replace(['((www\.[^\s]+)|(https?://[^\s]+))'],['URL'],regex=True)
T_tweets = T_tweets.replace(['[\s]+'], [' '],regex=True)
T_tweets = T_tweets.replace(['#([^\s]+)'], ['\1'],regex=True)

T_tweets.head()

0    and also karnataka bhavan jn towards khodays c...
1    peak hour traffic at mekhri circle underpass t...
2    and also anand rao circle towards keno theater...
3    peak hour traffic at nayandahalli jn towards d...
4    and also krishna floor mil jn towards okalipur...
Name: text, dtype: object

In [83]:
T_tweets_test = pd.read_csv('tweets.csv')

T_tweets_test['created_at'] = T_tweets_test['created_at'].str.replace('[','')
T_tweets_test['created_at'] = T_tweets_test['created_at'].str.replace(']','')
T_tweets_test['created_at'] = T_tweets_test['created_at'].str.replace('\'','')

T_tweets_test['date'], T_tweets_test['time'] = T_tweets_test['created_at'].str.split(',',1).str

T_tweets_test.drop(T_tweets_test.columns[1], axis=1, inplace=True)
T_tweets_test.head()

,id,text,date,time
0,834019605102358528,Siddalinghaiah Jn towards Richmond circle on V...,2017-02-21,12:39:03
1,834019562114936834,Peak hour traffic at Shanthala Jn towards Cott...,2017-02-21,12:38:53
2,834016888372023296,Peak hour traffic at Police thimmaiah Crl towa...,2017-02-21,12:28:16
3,834004809422356483,Peak hour traffic at K.R circle towards Hudson...,2017-02-21,11:40:16
4,833913312471560192,#TrafficAlert Protest at Town-hall by a politi...,2017-02-21,05:36:41