In [1]:
import nltk, re, pprint
from nltk import word_tokenize
import pandas as pd
import numpy as np
import re

m_andy = pd.read_csv('data/Andy-Weir-The-Martian.csv')
m_andy.head()

,score,url,title,text
0,4,/gp/customer-reviews/RKMO449VT48H3?ASIN=149159...,4.7573214851 Stars,"<span class=""a-size-base review-text"">I'm a ha..."
1,3,/gp/customer-reviews/R3RDNZNCOMRN0K?ASIN=14915...,Who needs nail clippers?,"<span class=""a-size-base review-text"">""I'm str..."
2,4,/gp/customer-reviews/R1TC15NPCF9GMW?ASIN=14915...,Abandoned on Mars,"<span class=""a-size-base review-text"">A futuri..."
3,5,/gp/customer-reviews/RT3R8XN5KZZGW?ASIN=149159...,Excellent Story,"<span class=""a-size-base review-text"">Follow t..."
4,5,/gp/customer-reviews/R32NNLGY7QGRVJ?ASIN=14915...,Inventive humorous tedious,"<span class=""a-size-base review-text"">This is ..."

In [2]:
#Taking only the text field and dropping remaining
m_andy.drop(m_andy.columns[[0,1,2]], axis=1, inplace=True)
m_andy.head()

                                                text
0  <span class="a-size-base review-text">I'm a ha...
1  <span class="a-size-base review-text">"I'm str...
2  <span class="a-size-base review-text">A futuri...
3  <span class="a-size-base review-text">Follow t...
4  <span class="a-size-base review-text">This is ...

In [3]:
#Stripping the text of all HTML tags
m_andy['text'] = m_andy['text'].replace(['<[^>]+>'],[''],regex=True)

#Stripping the text of all special characters
m_andy['text'] = m_andy['text'].replace(['([^\s\w]|_)+'],[''],regex=True)
m_andy.head()

                                                text
0  Im a hardscience science fiction fan and would...
1  Im stranded on Mars I have no way to communica...
2  A futuristic Robinson Crusoe Due to a dust sto...
3  Follow the adventure of an astronaut as he tri...
4  This is in some ways a delightful book  Its in...

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(m_andy['text'])
print(X_train_counts.shape)
print(count_vect.vocabulary_.get(u'algorithm'))
print(X_train_counts)

from sklearn.feature_extraction.text import TfidfTransformer
tf_transformer = TfidfTransformer(use_idf=False).fit(X_train_counts)
X_train_tf = tf_transformer.transform(X_train_counts)
X_train_tf.shape

(22571, 29333)
1255
  (0, 8147)	1
  (0, 653)	1
  (0, 24218)	1
  (0, 25852)	1
  (0, 12265)	1
  (0, 6981)	1
  (0, 9824)	1
  (0, 17961)	1
  (0, 3816)	1
  (0, 786)	1
  (0, 3107)	1
  (0, 1264)	1
  (0, 25385)	1
  (0, 11381)	1
  (0, 20540)	1
  (0, 3092)	1
  (0, 10568)	1
  (0, 17521)	1
  (0, 22451)	2
  (0, 28609)	1
  (0, 18788)	1
  (0, 20906)	1
  (0, 12011)	1
  (0, 13425)	1
  (0, 13059)	1
  :	:
  (22570, 11676)	1
  (22570, 16875)	1
  (22570, 9882)	1
  (22570, 10149)	1
  (22570, 25891)	1
  (22570, 1527)	1
  (22570, 28535)	1
  (22570, 13701)	3
  (22570, 3261)	1
  (22570, 26061)	1
  (22570, 2647)	2
  (22570, 15934)	2
  (22570, 26435)	6
  (22570, 3938)	2
  (22570, 17911)	1
  (22570, 25871)	7
  (22570, 25823)	2
  (22570, 29238)	2
  (22570, 17457)	1
  (22570, 13756)	5
  (22570, 23626)	1
  (22570, 17794)	2
  (22570, 1373)	1
  (22570, 1553)	2
  (22570, 9413)	1

(22571, 29333)